= form_tag do
  = field_set_tag "Login" do
    %ul
      %li
        = label_tag :username
        = text_field_tag :username
      %li
        = label_tag :password
        = password_field_tag :password
      %li
        = submit_tag "Sign in"

= form_for @user do |f|
  = field_set_tag "Register" do
    %ul
      %li
        = f.label :username 
        = f.text_field :username 
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :password_confirm
        = f.password_field :password_confirm
      %li
        = f.submit "Register"
