!!! 5

%html
  %head
    %title Peppermint
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Dosis"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags


  %body
    %header#mainHeader
      #mainNav
        = image_tag "logo.svg", :class => 'logo'
        %h1 Peppermint
        %ul
          %li Nav 1
          %li Nav 2
          %li Nav 3

    %div{:id => "#{params[:controller].parameterize}Controller", :class => "mainContainer"}
      = yield
